In [9]:
 import pandas as pd

In [13]:
df_5 = pd.read_csv("/home/student/SBSW/map_reduce/5.txt")

/home/student/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df_weather = pd.read_csv("/home/student/dublin_weather.csv")

In [15]:
df_5.head(10)

,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
0,DB,27-MAR-17 00:00:00,4526398,5,1423,36301,36301,36135,36135,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
1,DB,04-APR-17 00:00:00,4531808,5,6015,26923,26923,27105,27114,1001238,NaN,NaN,NaN,NaN,NaN,NaN,05-MAY-17 18:01:05,NaN
2,DB,21-MAR-17 00:00:00,4517989,5,6342,67646,67646,67612,67626,2693266,NaN,NaN,NaN,NaN,NaN,NaN,03-APR-17 21:15:39,NaN
3,DB,21-MAR-17 00:00:00,4518250,5,2678,51054,51054,50993,50993,2534834,NaN,NaN,NaN,NaN,NaN,NaN,03-APR-17 21:15:39,NaN
4,DB,13-JAN-17 00:00:00,4082182,5,4933,82976,82976,82917,82917,1000848,NaN,NaN,NaN,NaN,NaN,NaN,24-JAN-17 13:39:49,NaN
5,DB,27-MAR-17 00:00:00,4535937,5,1258,43766,43766,43764,43780,2693228,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
6,DB,04-APR-17 00:00:00,4520698,5,846,67118,67118,67187,67217,1001241,NaN,NaN,NaN,NaN,NaN,NaN,05-MAY-17 18:01:05,NaN
7,DB,21-MAR-17 00:00:00,4518870,5,2363,39938,39938,39959,39973,1000898,NaN,NaN,NaN,NaN,NaN,NaN,03-APR-17 21:15:39,NaN
8,DB,13-JAN-17 00:00:00,4082098,5,4933,32720,32720,32626,32626,1001103,NaN,NaN,NaN,NaN,NaN,NaN,24-JAN-17 13:39:49,NaN
9,DB,13-JAN-17 00:00:00,4082217,5,4933,68603,68603,68670,68681,1000168,NaN,NaN,NaN,NaN,NaN,NaN,24-JAN-17 13:39:49,NaN

In [16]:
df_weather.head(10)

,city_id,clouds.all,dt,dt_iso,main.humidity,main.pressure,main.temp,main.temp_max,main.temp_min,rain.1h,rain.24h,rain.3h,wind.deg,wind.speed,weather.description,weather.icon,weather.id,weather.main
0,2964574,75,1514764800,2018-01-01 00:00:00 +0000 UTC,80,990,277.15,277.15,277.15,NaN,NaN,NaN,240,11,broken clouds,04n,803,Clouds
1,2964574,75,1514768400,2018-01-01 01:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,240,13,light rain,10n,500,Rain
2,2964574,40,1514772000,2018-01-01 02:00:00 +0000 UTC,86,990,277.15,277.15,277.15,NaN,NaN,NaN,240,10,scattered clouds,03n,802,Clouds
3,2964574,40,1514775600,2018-01-01 03:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,250,12,light intensity shower rain,09n,520,Rain
4,2964574,40,1514779200,2018-01-01 04:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,240,9,scattered clouds,03n,802,Clouds
5,2964574,75,1514782800,2018-01-01 05:00:00 +0000 UTC,80,989,278.15,278.15,278.15,NaN,NaN,NaN,240,10,broken clouds,04n,803,Clouds
6,2964574,75,1514786400,2018-01-01 06:00:00 +0000 UTC,80,990,278.15,278.15,278.15,NaN,NaN,NaN,230,7,broken clouds,04n,803,Clouds
7,2964574,75,1514790000,2018-01-01 07:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,230,6,broken clouds,04n,803,Clouds
8,2964574,75,1514793600,2018-01-01 08:00:00 +0000 UTC,86,991,277.15,277.15,277.15,NaN,NaN,NaN,230,6,broken clouds,04n,803,Clouds
9,2964574,75,1514797200,2018-01-01 09:00:00 +0000 UTC,86,991,277.15,277.15,277.15,NaN,NaN,NaN,240,6,broken clouds,04n,803,Clouds

In [19]:
df_weather.drop(['rain.1h','rain.24h','rain.3h',], axis = 1)

,city_id,clouds.all,dt,dt_iso,main.humidity,main.pressure,main.temp,main.temp_max,main.temp_min,wind.deg,wind.speed,weather.description,weather.icon,weather.id,weather.main
0,2964574,75,1514764800,2018-01-01 00:00:00 +0000 UTC,80,990,277.15,277.15,277.15,240,11,broken clouds,04n,803,Clouds
1,2964574,75,1514768400,2018-01-01 01:00:00 +0000 UTC,80,990,277.58,278.15,277.15,240,13,light rain,10n,500,Rain
2,2964574,40,1514772000,2018-01-01 02:00:00 +0000 UTC,86,990,277.15,277.15,277.15,240,10,scattered clouds,03n,802,Clouds
3,2964574,40,1514775600,2018-01-01 03:00:00 +0000 UTC,80,990,277.58,278.15,277.15,250,12,light intensity shower rain,09n,520,Rain
4,2964574,40,1514779200,2018-01-01 04:00:00 +0000 UTC,80,990,277.58,278.15,277.15,240,9,scattered clouds,03n,802,Clouds
5,2964574,75,1514782800,2018-01-01 05:00:00 +0000 UTC,80,989,278.15,278.15,278.15,240,10,broken clouds,04n,803,Clouds
6,2964574,75,1514786400,2018-01-01 06:00:00 +0000 UTC,80,990,278.15,278.15,278.15,230,7,broken clouds,04n,803,Clouds
7,2964574,75,1514790000,2018-01-01 07:00:00 +0000 UTC,80,990,277.58,278.15,277.15,230,6,broken clouds,04n,803,Clouds
8,2964574,75,1514793600,2018-01-01 08:00:00 +0000 UTC,86,991,277.15,277.15,277.15,230,6,broken clouds,04n,803,Clouds
9,2964574,75,1514797200,2018-01-01 09:00:00 +0000 UTC,86,991,277.15,277.15,277.15,240,6,broken clouds,04n,803,Clouds
10,2964574,40,1514800800,2018-01-01 10:00:00 +0000 UTC,80,992,277.58,278.15,277.15,240,8,scattered clouds,03d,802,Clouds
11,2964574,75,1514804400,2018-01-01 11:00:00 +0000 UTC,81,992,278.58,279.15,278.15,250,10,broken clouds,04d,803,Clouds
12,2964574,75,1514808000,2018-01-01 12:00:00 +0000 UTC,75,993,279.58,280.15,279.15,260,13,broken clouds,04d,803,Clouds
13,2964574,75,1514811600,2018-01-01 13:00:00 +0000 UTC,81,994,280.15,280.15,280.15,280,13,light intensity shower rain,09d,520,Rain
14,2964574,75,1514815200,2018-01-01 14:00:00 +0000 UTC,87,996,280.28,281.15,279.15,280,13,light intensity shower rain,09d,520,Rain
15,2964574,40,1514818800,2018-01-01 15:00:00 +0000 UTC,81,998,280.15,280.15,280.15,280,9,light intensity shower rain,09d,520,Rain
16,2964574,75,1514822400,2018-01-01 16:00:00 +0000 UTC,81,999,280.15,280.15,280.15,280,11,broken clouds,04d,803,Clouds
17,2964574,20,1514826000,2018-01-01 17:00:00 +0000 UTC,81,1001,279.15,279.15,279.15,280,9,few clouds,02n,801,Clouds
18,2964574,20,1514829600,2018-01-01 18:00:00 +0000 UTC,86,1003,278.72,279.15,278.15,280,7,few clouds,02n,801,Clouds
19,2964574,20,1514833200,2018-01-01 19:00:00 +0000 UTC,86,1005,278.15,278.15,278.15,260,6,few clouds,02n,801,Clouds
20,2964574,40,1514836800,2018-01-01 20:00:00 +0000 UTC,80,1006,278.15,278.15,278.15,270,7,scattered clouds,03n,802,Clouds
21,2964574,40,1514840400,2018-01-01 21:00:00 +0000 UTC,75,1007,278.15,278.15,278.15,260,7,scattered clouds,03n,802,Clouds
22,2964574,40,1514844000,2018-01-01 22:00:00 +0000 UTC,80,1007,277.15,277.15,277.15,260,8,scattered clouds,03n,802,Clouds
23,2964574,40,1514847600,2018-01-01 23:00:00 +0000 UTC,100,1008,276.15,276.15,276.15,260,7,scattered clouds,03n,802,Clouds
24,2964574,40,1514851200,2018-01-02 00:00:00 +0000 UTC,100,1008,276.72,277.15,276.15,250,6,scattered clouds,03n,802,Clouds
25,2964574,75,1514854800,2018-01-02 01:00:00 +0000 UTC,100,1008,276.58,277.15,276.15,250,5,broken clouds,04n,803,Clouds
26,2964574,75,1514858400,2018-01-02 02:00:00 +0000 UTC,100,1008,277.15,277.15,277.15,240,5,broken clouds,04n,803,Clouds
27,2964574,75,1514862000,2018-01-02 03:00:00 +0000 UTC,100,1007,277.72,278.15,277.15,210,3,broken clouds,04n,803,Clouds
28,2964574,75,1514865600,2018-01-02 04:00:00 +0000 UTC,100,1006,277.72,278.15,277.15,160,2,broken clouds,04n,803,Clouds
29,2964574,75,1514869200,2018-01-02 05:00:00 +0000 UTC,75,1005,278.72,279.15,278.15,150,4,broken clouds,04n,803,Clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2173,2964574,75,1522612800,2018-04-01 20:00:00 +0000 UTC,75,1007,277.58,278.15,277.15,90,8,light rain,10n,500,Rain
2174,2964574,75,1522616400,2018-04-01 21:00:00 +0000 UTC,80,1007,277.58,278.15,277.15,90,8,light rain,10n,500,Rain
2175,2964574,75,1522620000,2018-04-01 22:00:00 +0000 UTC,86,1006,277.15,277.15,277.15,110,9,light rain,10n,500,Rain
2176,2964574,75,1522623600,2018-04-01 23:00:00 +0000 UTC,86,1005,276.58,277.15,276.15,110,8,light rain,10n,500,Rain
2177,2964574,75,1522627200,2018-04-02 00:00:00 +0000 UTC,93,1003,277.15,277.15,277.15,90,8,light rain,10n,500,Rain
2178,2964574,75,1522627200,2018-04-02 00:00:00 +0000 UTC,93,1003,277.15,277.15,277.15,90,8,light rain,10n,500,Rain
2179,2964574,75,1522630800,2018-04-02 01:00:00 +0000 UTC,93,1002,276.15,276.15,276.15,110,7,light rain,10n,500,Rain
2180,2964574,75,1522634400,2018-04-02 02:00:00 +0000 UTC,86,1001,276.58,277.15,276.15,90,9,light rain,10n,500,Rain
2181,2964574,75,1522638000,2018-04-02 03:00:00 +0000 UTC,93,999,276.15,276.15,276.15,90,10,light rain,10n,500,Rain
2182,2964574,75,1522641600,2018-04-02 04:00:00 +0000 UTC,93,999,276.15,276.15,276.15,90,9,moderate rain,10n,501,Rain
2183,2964574,75,1522645200,2018-04-02 05:00:00 +0000 UTC,100,996,276.15,276.15,276.15,80,10,light rain,10n,500,Rain
2184,2964574,75,1522648800,2018-04-02 06:00:00 +0000 UTC,93,995,276.58,277.15,276.15,90,9,light rain,10n,500,Rain
2185,2964574,75,1522652400,2018-04-02 07:00:00 +0000 UTC,100,994,276.15,276.15,276.15,90,9,light rain,10d,500,Rain
2186,2964574,75,1522656000,2018-04-02 08:00:00 +0000 UTC,93,994,277.15,277.15,277.15,80,9,light rain,10d,500,Rain
2187,2964574,75,1522659600,2018-04-02 09:00:00 +0000 UTC,100,993,277.15,277.15,277.15,80,9,light rain,10d,500,Rain
2188,2964574,75,1522663200,2018-04-02 10:00:00 +0000 UTC,100,992,277.15,277.15,277.15,80,8,light rain,10d,500,Rain
2189,2964574,75,1522666800,2018-04-02 11:00:00 +0000 UTC,93,990,277.54,278.15,277.15,70,8,light rain,10d,500,Rain
2190,2964574,75,1522670400,2018-04-02 12:00:00 +0000 UTC,93,990,278.15,278.15,278.15,60,7,moderate rain,10d,501,Rain
2191,2964574,75,1522674000,2018-04-02 13:00:00 +0000 UTC,100,989,278.15,278.15,278.15,60,7,light rain,10d,500,Rain
2192,2964574,75,1522677600,2018-04-02 14:00:00 +0000 UTC,100,988,278.58,279.15,278.15,50,5,moderate rain,10d,501,Rain
2193,2964574,75,1522681200,2018-04-02 15:00:00 +0000 UTC,93,988,279.58,280.15,279.15,40,4,moderate rain,10d,501,Rain
2194,2964574,75,1522684800,2018-04-02 16:00:00 +0000 UTC,100,987,280.15,280.15,280.15,20,3,light rain,10d,500,Rain
2195,2964574,75,1522688400,2018-04-02 17:00:00 +0000 UTC,100,987,280.15,280.15,280.15,360,2,fog,50d,741,Fog
2196,2964574,75,1522692000,2018-04-02 18:00:00 +0000 UTC,100,987,280.15,280.15,280.15,350,2,fog,50d,741,Fog
2197,2964574,75,1522695600,2018-04-02 19:00:00 +0000 UTC,100,987,280.15,280.15,280.15,360,3,fog,50d,741,Fog
2198,2964574,75,1522699200,2018-04-02 20:00:00 +0000 UTC,100,987,279.72,280.15,279.15,20,2,light rain,10n,500,Rain
2199,2964574,75,1522702800,2018-04-02 21:00:00 +0000 UTC,100,987,279.72,280.15,279.15,10,2,moderate rain,10n,501,Rain
2200,2964574,75,1522706400,2018-04-02 22:00:00 +0000 UTC,100,987,279.66,280.15,279.15,360,2,light rain,10n,500,Rain
2201,2964574,75,1522710000,2018-04-02 23:00:00 +0000 UTC,100,987,279.15,279.15,279.15,360,2,light rain,10n,500,Rain
2202,2964574,75,1522713600,2018-04-03 00:00:00 +0000 UTC,100,987,279.15,279.15,279.15,40,2,mist,50n,701,Mist

In [ ]:
df_5.drop(['passengers','passengersin','passengersout',''])