In [1]:
import requests
import json
import csv
import datetime

In [2]:
def call_api(url):
    """Calls API and returns info from that"""

    req = requests.get(url)
    return req

In [3]:
def write_file (data):
    """Retrieves information from Dublin Bikes API and stores as JSON"""

    req_text= data.text
    json_parsed=json.loads(req_text)
    return json_parsed

In [104]:
df3 = pd.DataFrame(columns=['temp', 'temp_min', 'temp_max'])

In [110]:
def forecast_weather(self):
    """Selects and creates variables that will be stored in dynamic forecast weather table"""

    list=json_parsed['list']

    i=0
    length=len(list)
    while i < length:

        first = list[i]
        main=first['main']
        temp = main['temp']
        temp_min = main['temp_min']
        temp_max = main['temp_max']
        humidity = main['humidity']
        pressure = main['pressure']
        weather = first['weather']
        weather_desc = weather[0]
        description = weather_desc['description']
        mainDescription = weather_desc['main']
        wind = first['wind']
        speed = wind['speed']
        deg = wind['deg']
        cloud=first['clouds']
        cloudiness=cloud['all']
        dt_txt = first['dt_txt']
        i+=1
        
        print (temp)
        df3.insert (temp, temp_min, temp_max)
               #print(dt_txt)

In [111]:
url="http://api.openweathermap.org/data/2.5/forecast?id=2964574&units=metric&APPID=bb260f441e7da59a28734895b6574b4d"
#url="http://api.openweathermap.org/data/2.5/weather?id=2964574&units=metric&APPID=bb260f441e7da59a28734895b6574b4d"
call_api(url)
data = call_api(url)
json_parsed=write_file(data)

In [112]:
for i in json_parsed:
    print (i)
    
print (json_parsed['city'])
#parsed = weather.current_weather(json_parsed)

cod
message
cnt
list
city
{'id': 2964574, 'name': 'Dublin', 'coord': {'lat': 53.344, 'lon': -6.2672}, 'country': 'IE'}

In [113]:
df3

Empty DataFrame
Columns: [temp, temp_min, temp_max]
Index: []

In [114]:
parsed=forecast_weather(json_parsed)
print (parsed)

21.52

TypeError: loc must be int

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(list(json_parsed.items()), columns=['temp', 'min_temp'])

In [29]:
df

      temp                                           min_temp
0      cod                                                200
1  message                                              0.002
2      cnt                                                 40
3     list  [{'dt': 1530273600, 'main': {'temp': 20.84, 't...
4     city  {'id': 2964574, 'name': 'Dublin', 'coord': {'l...

In [30]:
df1 = pd.DataFrame(list(json_parsed.items()))

In [31]:
df1

         0                                                  1
0      cod                                                200
1  message                                              0.002
2      cnt                                                 40
3     list  [{'dt': 1530273600, 'main': {'temp': 20.84, 't...
4     city  {'id': 2964574, 'name': 'Dublin', 'coord': {'l...

In [32]:
weather.current_weather

In [35]:
print (weather.current_weather)

<function weather.current_weather at 0x10f75de18>