In [1]:
import requests
import json
import csv
import datetime

In [4]:
def call_api(url):
    """Calls API and returns info from that"""

    req = requests.get(url)
    return req

In [5]:
def write_file (data):
    """Retrieves information from Dublin Bikes API and stores as JSON"""

    req_text= data.text
    json_parsed=json.loads(req_text)
    return json_parsed

In [104]:
df3 = pd.DataFrame(columns=['temp', 'temp_min', 'temp_max'])

In [110]:
def forecast_weather(self):
    """Selects and creates variables that will be stored in dynamic forecast weather table"""

    list=json_parsed['list']

    i=0
    length=len(list)
    while i < length:

        first = list[i]
        main=first['main']
        temp = main['temp']
        temp_min = main['temp_min']
        temp_max = main['temp_max']
        humidity = main['humidity']
        pressure = main['pressure']
        weather = first['weather']
        weather_desc = weather[0]
        description = weather_desc['description']
        mainDescription = weather_desc['main']
        wind = first['wind']
        speed = wind['speed']
        deg = wind['deg']
        cloud=first['clouds']
        cloudiness=cloud['all']
        dt_txt = first['dt_txt']
        i+=1
        
        print (temp)
        df3.insert (temp, temp_min, temp_max)
               #print(dt_txt)

In [111]:
url="http://api.openweathermap.org/data/2.5/forecast?id=2964574&units=metric&APPID=bb260f441e7da59a28734895b6574b4d"
#url="http://api.openweathermap.org/data/2.5/weather?id=2964574&units=metric&APPID=bb260f441e7da59a28734895b6574b4d"
call_api(url)
data = call_api(url)
json_parsed=write_file(data)

In [112]:
for i in json_parsed:
    print (i)
    
print (json_parsed['city'])
#parsed = weather.current_weather(json_parsed)

cod
message
cnt
list
city
{'id': 2964574, 'name': 'Dublin', 'coord': {'lat': 53.344, 'lon': -6.2672}, 'country': 'IE'}

In [113]:
df3

Empty DataFrame
Columns: [temp, temp_min, temp_max]
Index: []

In [114]:
parsed=forecast_weather(json_parsed)
print (parsed)

21.52

TypeError: loc must be int

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(list(json_parsed.items()), columns=['temp', 'min_temp'])

In [29]:
df

      temp                                           min_temp
0      cod                                                200
1  message                                              0.002
2      cnt                                                 40
3     list  [{'dt': 1530273600, 'main': {'temp': 20.84, 't...
4     city  {'id': 2964574, 'name': 'Dublin', 'coord': {'l...

In [30]:
df1 = pd.DataFrame(list(json_parsed.items()))

In [31]:
df1

         0                                                  1
0      cod                                                200
1  message                                              0.002
2      cnt                                                 40
3     list  [{'dt': 1530273600, 'main': {'temp': 20.84, 't...
4     city  {'id': 2964574, 'name': 'Dublin', 'coord': {'l...

In [32]:
weather.current_weather

In [35]:
print (weather.current_weather)

<function weather.current_weather at 0x10f75de18>

In [6]:
url="https://data.smartdublin.ie/cgi-bin/rtpi/realtimebusinformation?stopid=1436&format=json"
call_api(url)
data = call_api(url)
json_parsed=write_file(data)

In [7]:
json_parsed

{'errorcode': '0',
 'errormessage': '',
 'numberofresults': 9,
 'results': [{'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:06:16',
   'departuredatetime': '01/07/2018 13:06:16',
   'departureduetime': 'Due',
   'destination': 'Rialto',
   'destinationlocalized': 'Rialto',
   'direction': 'Inbound',
   'duetime': 'Due',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Blackrock',
   'originlocalized': 'An Charraig Dhubh ',
   'route': '17',
   'scheduledarrivaldatetime': '01/07/2018 12:58:00',
   'scheduleddeparturedatetime': '01/07/2018 12:58:00',
   'sourcetimestamp': '01/07/2018 13:02:27'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:22:39',
   'departuredatetime': '01/07/2018 13:22:39',
   'departureduetime': '16',
   'destination': 'Clare Hall',
   'destinationlocalized': 'Halla an Chláir',
   'direction': 'Inbound',
   'duetime': '16',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Fortunestown Rd',
   'originlocalized': 'Fortunestown Rd',
   'route': '27',
   'scheduledarrivaldatetime': '01/07/2018 13:16:00',
   'scheduleddeparturedatetime': '01/07/2018 13:16:00',
   'sourcetimestamp': '01/07/2018 13:05:45'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:31:44',
   'departuredatetime': '01/07/2018 13:31:44',
   'departureduetime': '25',
   'destination': 'Docklands',
   'destinationlocalized': 'Docklands',
   'direction': 'Inbound',
   'duetime': '25',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Griffeen Avenue',
   'originlocalized': 'Griffeen Avenue',
   'route': '151',
   'scheduledarrivaldatetime': '01/07/2018 13:28:00',
   'scheduleddeparturedatetime': '01/07/2018 13:28:00',
   'sourcetimestamp': '01/07/2018 12:52:33'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:32:59',
   'departuredatetime': '01/07/2018 13:32:59',
   'departureduetime': '26',
   'destination': 'Ringsend Road',
   'destinationlocalized': 'Ringsend Road',
   'direction': 'Inbound',
   'duetime': '26',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Citywest Rd ',
   'originlocalized': 'Citywest Rd ',
   'route': '77A',
   'scheduledarrivaldatetime': '01/07/2018 13:31:00',
   'scheduleddeparturedatetime': '01/07/2018 13:31:00',
   'sourcetimestamp': '01/07/2018 13:05:45'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:44:18',
   'departuredatetime': '01/07/2018 13:44:18',
   'departureduetime': '38',
   'destination': 'Clare Hall',
   'destinationlocalized': 'Halla an Chláir',
   'direction': 'Inbound',
   'duetime': '38',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Fortunestown Rd',
   'originlocalized': 'Fortunestown Rd',
   'route': '27',
   'scheduledarrivaldatetime': '01/07/2018 13:36:00',
   'scheduleddeparturedatetime': '01/07/2018 13:36:00',
   'sourcetimestamp': '01/07/2018 12:55:51'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:53:25',
   'departuredatetime': '01/07/2018 13:53:25',
   'departureduetime': '47',
   'destination': 'Docklands',
   'destinationlocalized': 'Docklands',
   'direction': 'Inbound',
   'duetime': '47',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Griffeen Avenue',
   'originlocalized': 'Griffeen Avenue',
   'route': '151',
   'scheduledarrivaldatetime': '01/07/2018 13:53:00',
   'scheduleddeparturedatetime': '01/07/2018 13:53:00',
   'sourcetimestamp': '01/07/2018 12:54:12'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 13:56:12',
   'departuredatetime': '01/07/2018 13:56:12',
   'departureduetime': '50',
   'destination': 'Clare Hall',
   'destinationlocalized': 'Halla an Chláir',
   'direction': 'Inbound',
   'duetime': '50',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Fortunestown Rd',
   'originlocalized': 'Fortunestown Rd',
   'route': '27',
   'scheduledarrivaldatetime': '01/07/2018 13:56:00',
   'scheduleddeparturedatetime': '01/07/2018 13:56:00',
   'sourcetimestamp': '01/07/2018 12:57:30'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 14:00:25',
   'departuredatetime': '01/07/2018 14:00:25',
   'departureduetime': '54',
   'destination': 'Ringsend Road',
   'destinationlocalized': 'Ringsend Road',
   'direction': 'Inbound',
   'duetime': '54',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Tallaght',
   'originlocalized': 'Tamhlacht',
   'route': '56A',
   'scheduledarrivaldatetime': '01/07/2018 14:00:00',
   'scheduleddeparturedatetime': '01/07/2018 14:00:00',
   'sourcetimestamp': '01/07/2018 13:00:47'},
  {'additionalinformation': '',
   'arrivaldatetime': '01/07/2018 14:01:11',
   'departuredatetime': '01/07/2018 14:01:11',
   'departureduetime': '55',
   'destination': 'Ringsend Road',
   'destinationlocalized': 'Ringsend Road',
   'direction': 'Inbound',
   'duetime': '55',
   'lowfloorstatus': 'no',
   'monitored': 'true',
   'operator': 'bac',
   'origin': 'Citywest Rd ',
   'originlocalized': 'Citywest Rd ',
   'route': '77A',
   'scheduledarrivaldatetime': '01/07/2018 14:01:00',
   'scheduleddeparturedatetime': '01/07/2018 14:01:00',
   'sourcetimestamp': '01/07/2018 13:02:27'}],
 'stopid': '1436',
 'timestamp': '01/07/2018 13:06:10'}

In [6]:
print (type(json_parsed))

<class 'dict'>

In [7]:
list = json_parsed['results']

In [8]:
hiya = list[0]

In [9]:
hiya

{'additionalinformation': '',
 'arrivaldatetime': '01/07/2018 12:28:58',
 'departuredatetime': '01/07/2018 12:28:58',
 'departureduetime': '12',
 'destination': 'Ringsend Road',
 'destinationlocalized': 'Ringsend Road',
 'direction': 'Inbound',
 'duetime': '12',
 'lowfloorstatus': 'no',
 'monitored': 'true',
 'operator': 'bac',
 'origin': 'Citywest Rd ',
 'originlocalized': 'Citywest Rd ',
 'route': '77A',
 'scheduledarrivaldatetime': '01/07/2018 12:25:00',
 'scheduleddeparturedatetime': '01/07/2018 12:25:00',
 'sourcetimestamp': '01/07/2018 11:59:42'}

In [10]:
hiya1=list[3]

In [11]:
hiya1

{'additionalinformation': '',
 'arrivaldatetime': '01/07/2018 12:44:43',
 'departuredatetime': '01/07/2018 12:44:43',
 'departureduetime': '28',
 'destination': 'Ringsend Road',
 'destinationlocalized': 'Ringsend Road',
 'direction': 'Inbound',
 'duetime': '28',
 'lowfloorstatus': 'no',
 'monitored': 'true',
 'operator': 'bac',
 'origin': 'Tallaght',
 'originlocalized': 'Tamhlacht',
 'route': '56A',
 'scheduledarrivaldatetime': '01/07/2018 12:45:00',
 'scheduleddeparturedatetime': '01/07/2018 12:45:00',
 'sourcetimestamp': '01/07/2018 12:16:11'}

In [12]:
hiya['arrivaldatetime']

'01/07/2018 12:28:58'

In [21]:
import requests
import json
import mysql.connector
from mysql.connector import errorcode
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy import *
import datetime
import pytz

ModuleNotFoundError: No module named 'mysql'

In [22]:
# http://docs.sqlalchemy.org/en/latest/orm/tutorial.html
Base = declarative_base()
Session = sessionmaker()
metadata = MetaData()

NameError: name 'declarative_base' is not defined

In [20]:
def connect():
    """Function to connect to database on Amazon Web Services"""
    try:
        engine = create_engine(
            'mysql+mysqlconnector://root@localhost/sbsw')
        #port = 3306
        connection = engine.connect()
        Session.configure(bind=engine)
        return engine
        # https://campus.datacamp.com/courses/introduction-to-relational-databases-in-python/advanced-sqlalchemy-queries?ex=2#skiponboarding

    except Exception as e:
        print("An error occurred when connecting to the database: ", e)
        # https://dev.mysql.com/doc/connector-python/en/connector-python-api-errors-error.html
    # https://campus.datacamp.com/courses/introduction-to-relational-databases-i

None

In [ ]:
def bus_realtime ():
    """Selects and creates variables that will be stored in dynamic forecast weather table"""

    list=json_parsed['results']
    
    i=0
    length=len(list)
    while i < length:

        each = list[i]
        arrival_time = each['arrivaldatetime']
        departure_time = each['departuredatetime']
        departing_in = each['departureduetime']
        destination = each['destination']
        direction = each['direction']
        arriving_in = each['duetime']
        origin = each['origin']
        route=each['route']
        scheduled_arrival = each['scheduledarrivaldatetime']
        scheduled_departure = each['scheduleddeparturedatetime']
        timestamp = each['sourcetimestamp']
        i+=1
        
        
       # insert_rtpi(arrival_time, departure_time, departing_in, destination, direction, arriving_in, origin, route, scheduled_arrival, scheduled_departure, timestamp)
    #http://pythonda.com/collecting-storing-tweets-python-mysql

In [13]:
list = json_parsed['results']
    i=0
    length = len(list)
    while i < length: 
        each = list[i]
        arrival_time = each['arrivaldatetime']
        departure_time = each['departuredatetime']
        departing_in = each['departureduetime']
        destination = each['destination']
        direction = each['direction']
        arriving_in = each['duetime']
        origin = each['origin']
        route=each['route']
        scheduled_arrival = each['description']
        scheduled_departure = each['main']
        timestamp = each['sourcetimestamp']

IndentationError: unexpected indent (<ipython-input-13-9725a4ea5242>, line 2)

In [ ]:
 list1 = json_weather['list']
        i = 0
        length = len(list1)
        while i < length:
            
            
            i+=1